:root {
	box-sizing: border-box;
	padding: 0;
	--background: #e6ecfa;
	--white: #fdfdfd;
	--primary: #280061;
	--gray: #5e5e5e;
	--shadow: rgba(9, 16, 24, 0.15);
	--primary-hover: #40009b;
}

body {
	background: var(--background);
	font-family: "Inter", sans-serif;
	max-width: 600px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}