/* Light mode */

.header {
	padding: 30px 15px;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.menu__button {
	background: var(--primary);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	display: grid;
	padding: 8px;
	place-items: center;
}

.button__sun {
	display: none;
}

.button__moon {
	filter: invert(98%) sepia(88%) saturate(586%) hue-rotate(177deg) brightness(99%) contrast(97%);
}

.menu__socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.socials__github, .socials__linkedin {
	filter: invert(10%) sepia(66%) saturate(3175%) hue-rotate(260deg) brightness(97%) contrast(134%);
}

.header__city-search-bar {
	align-items: center;
	display: flex;
	justify-content: center;
	filter: drop-shadow(5px 5px 5px var(--shadow));
}

.header__input {
	background: var(--white);
	border: none;
	border-radius: 50px 0 0 50px;
	margin-right: -15px;
	padding: 10px;
	width: 30em;
}

.header__button {
	align-items: center;
	border: none;
	border-radius: 100%;
	background: var(--primary);
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 10px;
	float: left;
	margin-rigth: 20px;
	transition: all 0.8s;
}

.header__current-date {
	color: var(--gray);
	margin-top: 1.5em;
	font-size: 0.9em;
}

.header__city-name {
	color: var(--primary);
	font-size: 1.3rem;
}

.header__button:hover {
	background: var(--primary-hover);
	transform: scale(1.1);
}

/* Dark mode */

.dark-mode .menu__button {
	background: var(--primary-dark);
}

.dark-mode .button__sun {
	display: block;
}

.dark-mode .button__moon {
	display: none;
}

.dark-mode .socials__github, .dark-mode .socials__linkedin {
	filter: invert(59%) sepia(20%) saturate(2153%) hue-rotate(216deg) brightness(97%) contrast(110%);
}

.dark-mode .header__input {
	background: var(--gray);
	color: var(--white);
}

.dark-mode .header__input::placeholder {
	color: var(--white);
}

.dark-mode .header__button {
	background: var(--primary-dark);
}

.dark-mode .header__button:hover {
	background: var(--primary-dark-hover);
}

.dark-mode .header__current-date {
	color: var(--light-gray);
}

.dark-mode .header__city-name {
	color: var(--primary-dark);
}